<%- include('parts/header')%>
    <%- include('parts/navbar')%>
        <div class="container text-center" style="padding: 10px;">
            <h3>Login</h3>
            <form action="/login" method="post">
                <input type="email" class="form-control" name="email" placeholder="E-mail">
                <% let error=validationErr.find(err=>err.param==='email') %>
                    <% if(error) { %>
                        <p class="alert alert-danger">
                            <%=error.msg%>
                        </p>
                        <% } %>

                            <input type="password" class="form-control" name="password" placeholder="password">
                            <% let PassError=validationErr.find(err=>err.param==='password') %>
                                <% if(PassError) { %>
                                    <p class="alert alert-danger">
                                        <%=PassError.msg%>
                                    </p>
                                    <% } %>
                                        <input type="submit" value="Login" class="btn btn-primary">
            </form>
            <br>
            <% if(authEror) { %>
                <p class="alert alert-danger">
                    <%=authEror%>
                </p>
                <% } %>
                    <div>
                        Don't have account? <a href="/signup">Create Account</a>
                    </div>
        </div>

        <%- include('parts/footer')%>