<%- include('parts/header')%>
    <%- include('parts/navbar')%>
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-6">
                    <img src="/<%=product.image%>" class="card-img-top">
                    <form action="/cart" method="post">
                        <input type="number" name="amount" class="form-control">
                        <input class="btn btn-primary" type="submit" value="Add to cart" style="padding: 10px;">
                        <h2>
                    </form>
                </div>
                <div class="col col-12 col-md-6" style="padding: 10px;">
                    <h2>
                        <%= product.name%>
                    </h2>
                    <h5>
                        Price: <%=product.price%> $
                    </h5>
                    <p>
                        <%=product.description%>
                    </p>

                </div>
            </div>
        </div>


        <%- include('parts/footer')%>